/* BoxBox.css */

.box-box {
    border-radius: 8px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FFFFFF; /* You can set the background color as needed */
    align-items: center;
    padding: 24px 20px;
    height: 100%;
  }
  

  .line {
    width: 260px;
    height: 13px;
    top: 337px;
    margin-top: 15px;
    left: 1153px; /* Adjusted left position */
    border-radius: 11px;
    background-color: grey; /* Line background color */
  }

  /* Box.css */

/* ... Your existing styles ... */

.connected-profiles {
    font-size: 14px;
    color: #999;
    margin-bottom: 8px;
  }
  
  .box-heading {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .box-paragraph {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }
  